<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{id ? "Update" : "Add"}} Case Studies</h1>
    </div>
    <div class="row">
        <div class="col-md-6 card mx-auto p-3">
            <form *ngIf="data" #dataForm="ngForm" autocomplete="off" (submit)="submit(dataForm)">
                <div class="form-group">
                    <label for="itemImg">Cover Image</label>
                    <input type="file" class="form-control" id="itemImg" name="itemImg" #itemImg="ngModel" ngModel
                        (change)="imageProcessing($event)">
                </div>
                <div class="form-group">
                    <label for="heading">Heading</label>
                    <input type="text" id="heading" class="form-control" name="heading" #heading="ngModel"
                        [(ngModel)]="data.heading" required>
                </div>
                <div class="form-group">
                    <label for="subHeading">Sub Heading</label>
                    <input type="text" id="subHeading" class="form-control" name="subHeading" #subHeading="ngModel"
                        [(ngModel)]="data.subHeading" required>
                </div>
                <div class="form-group">
                    <label for="clientName">Client Name</label>
                    <input type="text" id="clientName" class="form-control" name="clientName" #clientName="ngModel"
                        [(ngModel)]="data.clientName" required>
                </div>
                <div class="form-group">
                    <label for="priority">priority</label>
                    <input type="number" id="priority" class="form-control" name="priority" #priority="ngModel"
                        [(ngModel)]="data.priority" required>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <ckeditor name="content" [(ngModel)]="data.content"></ckeditor>
                </div>

                <!-- Gallery Start -->
                <!-- <label>Gallery</label> -->
                <!-- <div class="card mx-auto GalleryAdd my-4">
                        <div class="card-body">
                            <input type="file" name="file" class="inputfile custom-file-input" multiple
                                (change)="galleryImageProcessing($event)" #galleryImage accept="image/*" ngModel required />
                            <a class="btn my-3" (click)="galleryImage.click()"  style="background-color: #1C4F9C; color: #fff;" type="submit">Upload</a>
                        </div>
                    </div>
                    
                    <div class="row border-bottom mb-3" *ngIf="images.length > 0">
                        <div class="col-md-12">
                            <h5>Preview</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 py-3 mx-auto" *ngFor="let url of images;let i = index">                    
                            <div class="card bg-dark text-white">
                                <img [src]="url" height="200px" width="100%" style="margin: 3px;">
                                <button class="btn btn-danger" (click)="PreviewDelete(i)" type="button">Delete</button>
                            </div>
                        </div>
                    </div>
                Gallery End -->
                <button type="submit" [disabled]="dataForm.invalid" class="btn btn-info rounded-0 px-5">Submit</button>
            </form>
        </div>
    </div>

    <hr>
    <div class="container">
        <h1 class="h2">All Assets</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-3">
            <div *ngFor="let image of gallery" class="col-lg-3 my-2">
                <div class="card border-0 bg-transparent rounded-0">
                    <img src="{{image.imgUrl}}" height="200px" class="card-img rounded-0"
                        onError="this.src='https://cdn.dribbble.com/users/696649/screenshots/4904230/lp-loader_1.gif'">
                    <button type="button" class="btn btn-info rounded-0 btn-sm my-2" (click)="copyLink(image.imgUrl)">Copy Link</button>
                </div>
            </div>
        </div>
    </div>
</main>