<app-header></app-header>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Assets</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="py-5">
                <input type="file" name="file" id="file" class="form-control mb-2" multiple
                    (change)="imageProcessing($event)" #Image />
                <label for="file">Select Photos from Your Device</label>
            </div>
        </div>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-3">
            <div *ngFor="let image of gallery" class="col-lg-3 my-2">
                <div class="card border-0 bg-transparent rounded-0">
                    <img src="{{image.imgUrl}}" height="200px" class="card-img rounded-0"
                        onError="this.src='https://cdn.dribbble.com/users/696649/screenshots/4904230/lp-loader_1.gif'">
                    <button type="button" class="btn btn-info rounded-0 btn-sm my-2" (click)="copyLink(image.imgUrl)">Copy Link</button>
                    <button type="button" class="btn btn-info rounded-0 btn-sm" (click)="delete(image.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</main>