/* Mobile */

@media (max-width:764px) {
    .tagline-green-cloud {
        position: absolute;
        right: -150px;
        top: 50%
    }
    .tagline-blue-cloud {
        position: absolute;
        width: 5%!important;
        top: 0;
        left: -150px
    }
    #mutedVideo {
        margin-top: -100px;
    }
    .video2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s ease;
        width: 70px;
    }
    .video2:hover {
        padding: 15px;
    }
    #play-button {
        position: absolute;
        left: 40%;
        top: -30%;
    }
    .ParallaxVideo {
        height: 170px;
        /* padding-bottom: 50px; */
        padding-top: 40px;
    }
    .ParallaxVideo video {
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: -9999;
    }
    .ParallaxVideo h3 {
        color: #212529;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
    }
    .journal-right-side-shadow {
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(251, 251, 253, 1));
        width: 30%;
        height: 35vh;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 50px
    }
    .journal-left-side-shadow {
        background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(251, 251, 253, 1));
        width: 35%;
        height: 35vh;
        z-index: 1;
        position: absolute
    }
}
















/* Dasktop */

@media (min-width: 1024px) {
    .tagline-green-cloud {
        position: absolute;
        right: 0
    }
    .tagline-blue-cloud {
        position: absolute;
        width: 22%;
        top: 0;
    }
    .video2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s ease;
        width: 100px;
    }
    .video2:hover {
        padding: 15px;
    }
    #play-button {
        position: absolute;
        left: 45%;
        top: 45%;
    }
    .ParallaxVideo {
        height: 170px;
        /* padding-bottom: 50px; */
        padding-top: 50px;
    }
    .ParallaxVideo video {
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: -9999;
    }
    .ParallaxVideo h3 {
        color: #212529;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
    }
    .journal-right-side-shadow {
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(251, 251, 253, 1));
        width: 35%;
        height: 60vh;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0
    }
    .journal-left-side-shadow {
        background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(251, 251, 253, 1));
        width: 35%;
        height: 60vh;
        z-index: 1;
        position: absolute
    }
}
















/* Ipad */

@media (min-width:765px) and (max-width:1023px) {
    .tagline-green-cloud {
        position: absolute;
        right: 0
    }
    .tagline-blue-cloud {
        position: absolute;
        width: 22%;
        top: 0;
    }
    .video2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s ease;
        width: 100px;
    }
    .video2:hover {
        padding: 15px;
    }
    #play-button {
        position: absolute;
        left: 45%;
        top: 45%;
    }
    .ParallaxVideo {
        height: 170px;
        /* padding-bottom: 50px; */
        padding-top: 50px;
    }
    .ParallaxVideo video {
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: -9999;
    }
    .ParallaxVideo h3 {
        color: #212529;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
    }
    .journal-right-side-shadow {
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(251, 251, 253, 1));
        width: 35%;
        height: 60vh;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0
    }
}

/* Global */