/* @import 'https://fonts.google.com/specimen/Playfair+Display?sidebar.open=true&selection.family=Playfair+Display:wght@600;800';*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); 


h1 {
    font-family: "Playfair Display";
    font-weight: 800;
}

p,li{
    font-family: 'Roboto', sans-serif!important;
}